div {
	display: block;
	width: 100px;
	height: 100px;
	border: 2px solid #AAAAAA;
}
div > .absolute {
	background: pink;
	width: 50px;
	height: 50px;
	z-index: 10;
	margin: 10px 10px;
}
.name {
	background: #AAAAAA;
	color: white;
	font-size: large;
}
.static {
	background: purple;
	position: static;
}
.relative {
	background: yellow;
	position: relative;
	left : 50px;
	top: 100px;
}
.absolute {
	background: red;
	position: absolute;
	left: 200px;
	top: 300px;
}
.fixed {
	background: blue;
	position: fixed;
	bottom: 0;
	right: 0;
}