/* Select Settings */
.selects {
	padding-top: 10px;
	width: 100%;
	height: 50px;
	text-align: center;
}
.selects a {
	line-height: 15px;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #AAAAAA;
}
.selects a:hover {
	background: #A62020;
	color: white;
	cursor: pointer;
}


/* General Settings */
.frame {
	width: 100%;
}
.frame .container {
	margin: 0 auto;
	width: 900px;
	height: 500px;
}
.frame .container .nav {
	background: #87E1FC;
}
.frame .container .nav,
.frame .container .content {
	padding: 10px;
}
.highlight {
	font-size: x-large;
	background: #A62020;
	color: white;
}

/* float */
.frame.float .container .nav {
	float: left;
	width: 200px;
	height: 100%;
}
.frame.float .container .content {
	float: left;
	width: 600px;
}


/* Table */
.frame.table .container {
	display: table;
	table-layout: fixed;
}
.frame.table .container > * {
	display: table-cell;
	vertical-align: top;
}
.frame.table .container .nav {
	width: 200px;
}
.frame.table .container .content {
	display: block;
}

/* inline-block */
.frame.inline-block .container {
	display: block;
}
.frame.inline-block .container .nav {
	width: 200px;
	height: 100%;
}
.frame.inline-block .container > * {
	display: inline-block;
	vertical-align: top;
}